.account {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2em;
  width: 85vw;
  margin: 1em auto 1em auto;

  h1 {
    font-size: 16pt;
    margin: 0 0 10px 0;
    color: black;
    text-transform: capitalize;
  }

  h2 {
    font-size: 12pt;
    margin: 0 0 10px 0;
    color: $primarydark;
    text-transform: capitalize;
  }
  @include maxwidth(mobile) {
    grid-template-columns: 1fr !important;
    margin: auto !important;
  }
  @include maxwidth(tablet) {
    grid-template-columns: 1fr !important;
    margin: auto !important;
  }

  .div1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;

    @include maxwidth(mobile) {
      grid-template-columns: 1fr !important;
      margin: auto !important;
    }
  }
  .div2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
}

.acheader {
  background-color: $primarydark;
  padding: 2em 0 2em 2em;

  .nav {
    h4 {
      height: 44px;
      padding: 0px 1em 0px 3em;
      margin: 1em 0 1em 0;
      line-height: 44px;
      color: white;
      font-weight: 400;
      font-size: 11pt;
      cursor: pointer;
      padding-bottom: 5px;
    }

    h4:hover {
      color: $tertiarylight;
    }

    .underline {
      background-color: $secondarylight;
      border-radius: 20px 0 0 20px;
    }
  }

  @include maxwidth(mobile) {
    display: none !important;
  }
  @include maxwidth(tablet) {
    display: none !important;
  }
}

.mydetails {
  img {
    height: 200px;
    width: 100%;
    margin: 0 auto 2em auto;
    border-radius: 5px;
    display: block;
    object-fit: cover;
    object-position: center;
  }

  h3 {
    margin: 1em auto 1em auto;
    width: fit-content;
    padding: 1em;
    cursor: pointer;
    color: $secondarylight;
    text-decoration-line: underline;
    font-size: 12pt;
  }

  h4 {
    color: $primarylight;
    margin-top: 1em;
    text-align: center;
  }

  span {
    color: black;
  }
}

.mylocation {
  h4 {
    font-size: 9pt;
    color: $primarydark;
    margin-bottom: 10px;
  }
  h3 {
    margin: 1em auto 1em auto;
    width: fit-content;
    padding: 1em;
    cursor: pointer;
    color: $secondarylight;
    text-decoration-line: underline;
    font-size: 12pt;
  }
  h3:hover {
    color: $accent;
  }
  .map {
    height: 300px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    //box-shadow: 1px 1px 5px #60606030;
    margin: 0 0 1em 0;
  }

  @include maxwidth(tablet) {
    .map {
      height: 250px !important;
    }
  }
  @include maxwidth(mobile) {
    .map {
      height: 250px !important;
    }
  }
}

.acnewoffer {
  .img {
    position: relative;
    width: 100%;
    height: 200px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center;
    }

    input {
      display: none;
    }

    i {
      height: 40px;
      width: 40px;
      text-align: center;
      line-height: 40px;
      left: 45%;
      position: absolute;
      bottom: -20px;
      cursor: pointer;
      background-color: $accent;
      border-radius: 5px;
    }
    i:hover {
      background-color: $primarydark;
      color: $accent;
    }

    @include maxwidth(tablet) {
      height: 200px !important;
    }
  }

  .terms {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    margin: 1em 0 1em 0;

    p {
      font-size: 9pt;
      line-height: 1.3;
      color: $primarylight;
    }
  }

  .mobile {
    display: none !important;
  }

  @include maxwidth(mobile) {
    .desktop {
      display: none !important;
    }
    .mobile {
      display: block !important;
    }
  }
  @include maxwidth(tablet) {
    .desktop {
      display: none !important;
    }
    .mobile {
      display: block !important;
    }
  }
}
