.footer {
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;

  .container {
    width: 85vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4em;
    color: white;
    padding: 2em 0 2em 0;

    hr {
      display: none;
    }

    .hd {
      display: grid;
      grid-template-columns: 1fr auto;

      h3 {
        font-size: 11pt;
        margin-bottom: 0.5em;
        letter-spacing: 1px;
      }

      i {
        font-size: 7pt;
        display: none;
      }
    }

    p {
      font-size: 10pt;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      cursor: pointer;
      letter-spacing: 1px;
    }

    p:hover {
      color: $accent;
    }
  }

  @include maxwidth(mobile) {
    .container {
      grid-template-columns: 1fr !important;
      gap: 1em !important;
      i,
      hr {
        display: block !important;
      }
    }
  }

  @include maxwidth(tablet) {
    .container {
      grid-template-columns: repeat(2,1fr) !important;
      gap: 3em !important;
      i,
      hr {
        display: block !important;
      }
    }
  }
}
